@model IEnumerable<OnLineStore.Application.ViewModels.ProductViewModel>
@{
	ViewData["Title"] = "Product List";
}
<a asp-action="CreateProduct" class="btn btn-success mb-3">Create New Product</a>

<h1>Product List</h1>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>CId</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
				<tr>
					<td>@product.PId</td>
					<td>@product.PName</td>
					<td>@product.Price</td>
						<td>@product.CId</td>

					
					<td>
							<a asp-action="GetProductById" asp-route-id="@product.PId" class="btn btn-info">Details</a>
                        	<a asp-action="UpdateProduct" asp-route-id="@product.PId" class="btn btn-primary">Edit</a>
	                      <a asp-action="DeleteProduct" asp-route-id="@product.PId" class="btn btn-danger">Delete</a>

					</td>
				</tr>
		}
	</tbody>
